/* Orb.css */
.orb-container {
    position: relative; /* So the Name can be absolutely centered */
    display: block;     /* default block, or you can keep it as is */
    margin: 10% auto;     /* center horizontally within its parent */
    width: clamp(200px, 30vw, 400px);
    height: clamp(200px, 30vw, 400px);
    background-color: transparent;
}

@media (max-width: 600px) {
    .orb-container {
        width: clamp(150px, 40vw, 300px);
        height: clamp(150px, 40vw, 300px);
    }
}
