:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 50px;
  flex-wrap: wrap;
  padding: 50px;
}

/* Styling for text section */
.text-section {
  max-width: 500px;
  text-align: left;
}

/* Styling for orb section */
.orb-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    text-align: center;
  }

  .text-section {
    max-width: 100%;
    text-align: center;
    padding: 20px;
  }
}
